<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="sidebar">
    <div class="sidebar">
        <div class="wrapper share-box">
            <div class="heading">
                <h4>Share this page</h4>
            </div>
            <div class="content">
                <ul>
                    <li><a href="#"><i class="fa-brands fa-square-facebook"></i><span>Share on Facebook</span></a></li>
                    <li><a href="#"><i class="fa-brands fa-square-twitter"></i><span>Share on Twitter</span></a></li>
                    <li><a href="#"><i class="fa-brands fa-square-google-plus"></i><span>Share on Google+</span></a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper viral-box">
            <div class="heading">
                <h4>Advertise here!</h4>
            </div>
            <div class="content">
                <p>Interested in advertising? Call 12345 now!</p>
            </div>
        </div>
    </div>
</div>
</body>
</html> 