<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About Me Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container-fluid site-wrapper">
    <!-- Header -->
    <div th:replace="fragments/header :: header('about')"></div>

    <!-- Content -->
    <div class="container-fluid content-wrapper" id="content">
        <div class="container">
            <div class="row-fluid content-inner">
                <div id="left" class="span9">
                    <div class="wrapper">
                        <div class="section article">
                            <div class="heading">
                                <h3>About Me</h3>
                            </div>
                            <div class="content">
                                <p th:utext="${about.content}">[About Me Content Here]</p>
                            </div>
                        </div>
                        <div class="section signature">
                            <div class="content">
                                <div class="signature-text-noimg">
                                    <p>Kind regards</p>
                                    <div class="signature-sign" style="font-family: 'Pacifico', serif;" th:text="${about.author}">Vivianne Russell</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sidebar -->
                <div id="right" class="span3">
                    <div th:replace="fragments/sidebar :: sidebar"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>
