<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Blog - Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div class="container-fluid site-wrapper">
    <!-- Header -->
    <div th:replace="fragments/header :: header('blog')"></div>
    
    <!-- Content -->
    <div class="container-fluid content-wrapper" id="content">
        <div th:if="${error != null}" class="alert alert-danger">
            <p th:text="${error}">Error</p>
        </div>
        <div class="container">
            <div class="row-fluid content-inner">
                <div id="left" class="span9">
                    <div class="wrapper blog">
                        <div class="heading">
                            <h1 class="page-title">My Blog</h1>
                        </div>

                        <div class="content">
                            <div class="section" th:each="entry : ${entries}">
                                <div class="content">
                                    <div class="avatar">
                                        <i class="icon-4x" th:classappend="${entry.icon}"></i>
                                    </div>
                                    <div class="item">
                                        <div class="controls">
                                            <span class="date-text" th:text="${#temporals.format(entry.publishedDate, 'dd-MM-yyyy')}"></span>
                                        </div>
                                        <div class="heading">
                                            <h4><a th:href="@{'/entry/' + ${entry.id}}" th:text="${entry.title}"></a></h4>
                                        </div>
                                        <div class="content">
                                            <div class="img-simple" 
                                            th:classappend="${entry.content != null} ? 'span6 pull-left' : ''" 
                                            th:if="${entry.imageUrl != null}">
                                                <div class="image">
                                                    <a th:href="@{/images/{img}(img=${entry.imageUrl})}">
                                                        <img th:src="@{/images/{img}(img=${entry.imageUrl})}" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div th:utext="${entry.content}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="pager">
                                <li><a href="/overview">Overview</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="right" class="span3">
                    <div th:replace="fragments/sidebar :: sidebar"></div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Footer -->
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>
