<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="title-wrapper">
    <div class="title-wrapper-inner">
        <a rel="nofollow" class="logo " href="http://us-123my-life.simplesite.com/">

        </a>
        <div class="title ">
            Blogging About My Life
        </div>
        <div class="subtitle">
            Welcome to my blog
        </div>
    </div>
</div> <!-- these are the titles -->
</body>
</html>